<div
  class="article-container"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="50px"
>
  <article>
    <h2>PC Hardware Calculator</h2>
    <p>
      This is a small app that helps you plan and count the costs of your
      computer setup
    </p>
  </article>
  <article>
    <h2>Functionality</h2>
    <p>
      You can add product with few properties: name, description, category and
      price. Added products are stored and rendered in data table. It is
      possible to delete positions from the table. You can also drag and drop
      rows to change the order.
    </p>
    <p>
      Table has a built-in footer row that automatically calculates the total
      cost of your products.
    </p>
  </article>
  <article>
    <h2>Tools</h2>
    <p>
      The application was build with the help of Angular 13 framework. Angular
      material library was used to create most of the layouts and components.
      Especially form and table components.
    </p>
  </article>
</div>
