<table
  #table
  mat-table
  [dataSource]="products"
  class="mat-elevation-z8"
  cdkDropList
  [cdkDropListData]="products"
  (cdkDropListDropped)="dropTable($event)"
>
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef>Category</th>
    <td mat-cell *matCellDef="let element">{{ element.category }}</td>
    <td mat-footer-cell *matFooterCellDef><b>Total:</b></td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>Price</th>
    <td mat-cell *matCellDef="let element">{{ element.price | currency }}</td>
    <td mat-footer-cell *matFooterCellDef>
      <b>{{ getTotalCost() | currency }}</b>
    </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let i = index">
      <div fxLayout="row">
        <button mat-icon-button color="warn" (click)="onDeleteProduct(i)">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="onEditProduct()">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </td>
    <td mat-footer-cell *matFooterCellDef></td
  ></ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns"
    cdkDrag
    [cdkDragData]="row"
  ></tr>
  <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
</table>
